<!DOCTYPE html>

<html>
<head>
    <title>Product <%= product.returnValues.referenceId %> </title>

</head>

<body>
    <h1>Overview of the product : </h1>
    <ul>
        <li> Id : <%= product.returnValues.referenceId %>  </li>
        <li> Provider : <%= product.returnValues.provider %>  </li>
        <li> Price : <%= product.returnValues.price %>  </li>
        <li> End Time : <%= product.returnValues.contractEndTime %>  </li>
        <li> Description : <%= product.returnValues.description %>  </li>
    </ul>

    <a href="/ForSale">Back</a>
    <a href="/buy/?id=<%= product.returnValues.referenceId %> "> Buy </a>
</body>
</html>









