<!DOCTYPE html>

<html>
<head>
    <title>Node Info</title>
    <style>
        a {text-decoration: none; color: black;}
    </style>
</head>

<body>
<h1>Info</h1>

<ul>
        <li>  <%= node.id %>  </li>
        <li>  <%= node.name %>  </li>
        <li>  <%= node.version %>  </li>
        <li>  <%= node.network %>  </li>
        <li>  <%= node.port %>  </li>

</ul>

<a href="/nodes/refresh">
    <button>Refresh</button>
</a>
<a href="/">
    <button>Home</button>
</a>

</body>
</html>