<!DOCTYPE html>

<html>
<head>
    <title>Product <%= product[0].returnValues.referenceId %>></title>

</head>

<body>
    <h1>Overview of the product : </h1>
    <ul>
        <li> Id : <%= product[0].returnValues.referenceId %>  </li>
        <li> Provider : <%= product[0].returnValues.provider %>  </li>
        <li> Price : <%= product[0].returnValues.price %>  </li>
        <li> End Time : <%= product[0].returnValues.contractEndTime %>  </li>
    </ul>
</body>
</html>









