<!DOCTYPE html>

<html>
<head>
    <title>Product <%= product.returnValues.referenceId %> </title>

</head>

<body>
    <h1>Overview of the product : </h1>
    <ul>
        <li> Id : <%= product.returnValues.referenceId %>  </li>
        <li> Provider : <%= product.returnValues.provider %>  </li>
        <li> Price : <%= product.returnValues.price %>  </li>
        <li> End Time : <%= product.returnValues.contractEndTime %>  </li>
    </ul>

    <form action="/ForSale">
        <input type="submit" value="Back" />
    </form>
    <form action="/buy/?id=<%= product.returnValues.referenceId%>">
        <input type="submit" value="Buy this reference" />
    </form>
</body>
</html>









